<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuscadorDistributor</servlet-name>
        <servlet-class>controladores.BuscadorDistributor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step1Afiliation</servlet-name>
        <servlet-class>controladores.Step1Afiliation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAfiliation</servlet-name>
        <servlet-class>controladores.HomeAfiliation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controladores.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoController</servlet-name>
        <servlet-class>controladores.CarritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorController</servlet-name>
        <servlet-class>controladores.DistributorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscadorDistributor</servlet-name>
        <url-pattern>/buscadordistributor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step1Afiliation</servlet-name>
        <url-pattern>/step1afiliation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAfiliation</servlet-name>
        <url-pattern>/homeafiliation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/productcontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoController</servlet-name>
        <url-pattern>/carritocontroller.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorController</servlet-name>
        <url-pattern>/distributorcontroller.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
